
/* General Styling */
:root {
    --IRIS: #4D5AE5;
    --NAVY-BLUE: #2E2F42;
    --WHITE: #FFF;
    --CLOUD: #F4F4FD;
    --SLATE: #434455;
    --CORNFLOWER: #E7E9FC;
    --OCEAN: #404BBF;
    --LIGHT-SLATE: #8E8F99;
    --DAIRY: #FCFCFC;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--NAVY-BLUE);
    margin: 0 auto;
}

.flex-container {
    width: 1440px;
    border: 0.5px solid var(--CLOUD);
}

.list {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    display: flex; 
    justify-content: center;
    gap: 24px;
}

.text {
    color: var(--SLATE);
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.32px;
}

.bg-dark {
    color: var(--CLOUD);
    background-color: var(--NAVY-BLUE);
    height: 312px;
}

.flex-link {
    gap: 40px;
    padding-left: 56px;
}

.flex-contacts {
    gap: 40px;
    padding-left: 332px;
}

/* End of General Styling */

/* Header Styling */

.logo {
    text-decoration: none;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 800;
    line-height: 116.667%;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.logo-web {
    color: var(--IRIS);
    font-family: Raleway;
    font-size: 18px;
    font-weight: 800;
    line-height: 116.667%;
    text-decoration: none;
    text-transform: uppercase;
    padding-left: 114px;
}

.logo-studio-nav {
    color: var(--NAVY-BLUE);
    font-family: Raleway;
    font-size: 18px;
    font-weight: 800;
    line-height: 116.667%;
    text-decoration: none;
    text-transform: uppercase;
}

.nav-link {
    text-decoration: none;
    color: var(--NAVY-BLUE);
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0.32px;
}

.nav-link:hover,
.nav-link:focus {
    color: var(--IRIS);
}

.contacts {
    text-decoration: none;
    color: var(--SLATE);
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0.32px;
}

.contacts:hover,
.contacts:focus {
    color: var(--IRIS);
}

.active {
    color: var(--IRIS);
}

.active::after {
    content: " ";
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 2px;
    background-color: var(--OCEAN);
    position: relative;
    top: 25px;
}

.container {
    /* width: 1440px; */
    padding: 24px 0 0 0;
    gap: 24px;
    border-bottom: 1px solid var(--CORNFLOWER, #E7E9FC);
    background: var(--WHITE, #FFF);
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.d-flex {
    display: flex;
    padding-bottom: 12px;
}

.header .d-flex {
    display: flex;
    align-items: center;
}

/* End of Header Styling*/

/* Hero Styling */

.benefits {
    font-size: 20px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 0.4px;
    color: var(--NAVY-BLUE);
    display: flex;
    width: 264px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.team-name {
    font-size: 20px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 0.4px;
    color: var(--NAVY-BLUE)
}

.hero-text {
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 107.143%;
    letter-spacing: 1.12px;
    color: var(--WHITE);
    margin: 0px;
}

.hero-btn {
    background-color: var(--IRIS);
    color: var(--WHITE);
    font-size: 16px;
    font-weight: 500; 
    line-height: 150%;
    letter-spacing: 0.64px;
    border-radius: 4px;
    border: none;
    margin-top: 48px;
    padding: 16px 32px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.hero-btn:hover {
    color: var(--WHITE);
    cursor: pointer;
}

.backdrop {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    background-color: var(--DAIRY);
    width: 408px;
    height: 584px;
    border-radius: 4px;
    position: relative;
}

.modal-close-btn {
    margin: 24px 24px 536px 360px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 100%;
    background-color: var(--CORNFLOWER);
    width: 24px;
    height: 24px;
}

.pop-up {
    position: absolute;
    top: 48px; 
    width: 100%;
}

.pop-text {
    color: var(--NAVY-BLUE);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.32px;
    margin-top: 24px;
    margin-bottom: 16px;
}

.modal-close-btn:hover {
    cursor: pointer;
    background-color: var(--IRIS);
    color: var(--CORNFLOWER);
}

.service-form {
    margin: 0 24px;
}

.service-label{
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
    width: 100%;
    position: relative;
}

.input-label {
    text-align: left;
    margin-bottom: 4px;
    color: var(--SLATE);
    font-size: 12px;
    font-weight: 400;
    line-height: 116.667%;
    letter-spacing: 0.48px;
}

.service-input {
    padding: 12px 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    transition: 250ms;
    transition-property: color, border-color, background-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.service-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    fill: black;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.service-input:focus + .service-icon,
.service-input:hover + .service-icon {
    fill: var(--IRIS);
}

.service-input:focus  {
    outline: none;
    border: 1px solid var(--IRIS);
}

.service-input-textarea:focus,
.service-input-textarea:hover {
    outline: none;
    border: 1px solid var(--IRIS);
}

.service-input:hover {
    border: 1px solid var(--IRIS);
}

.service-input-textarea {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    transition: 250ms;
    transition-property: color, border-color, background-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    padding: 8px 16px;
    margin-bottom: 8px;
}

.service-agree {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 24px;
}

.policy-text {
    color: var(--LIGHT-SLATE);
    font-size: 12px;
    font-weight: 400;
    line-height: 116.667%;
    letter-spacing: 0.48px;
    margin-left: 8px;
    margin-top: 3px;
}

.agree-policy {
    color: var(--IRIS);
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.48px;
    text-decoration-line: underline;
}

.agree-checkbox {
    border: 0.25px solid rgba(46, 47, 66, 0.08);
    width: 18px;
    height: 18px;
    position: absolute;
    left: 6px;
    opacity: 0;
}

.agree-check-icon {
    fill: none;
    border: 1px solid rgba(46, 47, 66, 0.5);
    border-radius: 4px; 
    transition: 250ms;
    transition-property: border-color, background-color, fill;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.service-agree .agree-checkbox:focus + .agree-check-icon,
.service-agree .agree-checkbox:checked:focus + .agree-check-icon {
    outline: 2px solid var(--IRIS);
}

.service-agree .agree-checkbox:checked + .agree-check-icon {
    background-color: var(--IRIS);
    border-color: var(--IRIS);
    fill: var(--WHITE);
    outline: none;
    stroke: var(--WHITE);
    stroke-width: 0.2;
}

.modal-send {
    padding: 16px 64px;
    background-color: var(--IRIS);
    color: var(--WHITE);
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0.64px;
    border-color: transparent;
}

.modal-send:hover {
    cursor: pointer;
}

.is-hidden {
    pointer-events: none;
    opacity: 0;
}

.benefits ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 24px;
    margin-top: 120px;
    margin-left: 156px;
}

.hero {
    height: 600px;
    width: 100%;
    text-align: center;
    position: relative;
}

.hero {
   background: linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

.hero-text {
    padding-top: 164px;
}

.ben-icon {
    border-radius: 4px;
    background: var(--CLOUD);
    display: flex;
    justify-content: center;
    padding: 24px 100px;
}

/* End of Hero Styling */

/* About Styling */

.profile {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 111.111%;
    letter-spacing: 0.72px;
    text-transform: capitalize;  
}

.about h2 {
    text-align: center;
    margin-top: 120px;
    margin-bottom: 72px;
}

.about ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 24px;
    padding-bottom: 120px;
}

/* End of About Styling */

/* Team Members Styling */

.bg-light {
    background-color: var(--CLOUD);
    height: 732px;
}

.team li {
    background-color: var(--WHITE);
    margin-top: 40px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

.team h2 {
    text-align: center;
    padding-top: 120px;
}

.team-caption {
    text-align: center;
    margin: 0;
    padding: 32px;
}

.team-name {
    margin: 0;
}

.team-socials {
    display: flex;
    justify-content: space-around;
}

.ts-icon {
    background-color: var(--IRIS);
    color: var(--CLOUD);
    padding: 10px;
    border-radius: 50%;
    fill: var(--CLOUD);
    display: flex;
    justify-content: center;
    align-items: center;
}

.ts-icon:hover,
.ts-icon:focus {
    cursor: pointer;
}

/* End of Team Member Styling */

/* Customer Styling */

.clients h2 {
    padding: 120px 0 72px 0;
    margin: 0;
    font-size: 36px;
    font-weight: 700;
    line-height: 111.111px;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    color: var(--NAVY-BLUE);
}

.customers-icon {
    border-radius: 4px;
    border: 1px solid var(--LIGHT-SLATE, #8E8F99);
    fill: var(--LIGHT-SLATE);
    width: 168px;
    height: 88px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.customers-icon:hover,
.customers-icon:focus {
    border-color: var(--IRIS);
}

.customers-icon svg {
    fill: var(--LIGHT-SLATE);
}

.customers-icon:hover svg,
.customers-icon:focus svg {
    fill: var(--IRIS);
}

.list-icon{
    list-style-type: none;
    padding-left: 0;
    margin: 16px 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-bottom: 120px;
    margin-top: 0;
}

/* Portfolio Styling */

.portfolio {
    width: 1440px;
    text-align: center;
}

.port-btn {
    display: inline-flex;
    text-align: center;
    gap: 24px;
    padding-top: 72px;
    padding-bottom: 48px;
}

.port-link:hover,
.port-link:focus {
    color: var(--WHITE);
    cursor: pointer;
    background: var(--OCEAN);
}

.port-link {
    font-family: Roboto;
    padding: 12px 24px;
    border-radius: 4px;
    border: 1px solid var(--CORNFLOWER, #E7E9FC);
    background: var(--CLOUD, #F4F4FD);
    color: var(--IRIS, #4D5AE5);
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0.64px;
}

.projects {
    display: flex;
    width: 1440px;
}

.proj-tab {
    border: 1px solid var(--CORNFLOWER, #E7E9FC);
    margin-bottom: 24px;
    display: block;
}

.proj-tab:hover,
.proj-tab:focus {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    cursor: pointer;
}

.proj-list {
    width: 1440px;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    gap: 24px;
}

.proj-list {
    display: flex;
    list-style-type: none;
    justify-content: center;
    width: 100%;
}

.proj-caption {
    display: flex;
    padding: 0px 16px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}

.proj-caption h3 {
    margin: 0;
    padding-top: 32px;
}

.proj-caption p {
    margin: 0;
    padding-bottom: 32px;
}

/* HW 5 Styling */

.project {
    overflow: hidden;
}

.project-image {
    position: relative;
    overflow: hidden;
}

.project-image-caption {
    position: absolute;
    background-color: rgba(77, 90, 229, 0.85);
    color: var(--CLOUD);
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.32px;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transform: translateY(100%);
    transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-image-caption {
    display: flex;
    justify-content: center;
    align-items: center;
}

.proj-tab:hover .project-image-caption {
    opacity: 1;
    transform: translateY(0);
}

/* End of HW5 Styling */

/* End of Portfolio Styling */

/* Footer Styling */

.logo-studio-footer {
    color: var(--CLOUD);
    font-family: Raleway;
    font-size: 18px;
    font-weight: 800;
    line-height: 116.667%;
    text-decoration: none;
    text-transform: uppercase;    
}

.footer-sm p {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.32px;
    color:var(--WHITE);
}

.footer-text {
    line-height: 150%;
    letter-spacing: 0.32px;
    color: var(--WHITE);
    padding-left: 114px;
}

.flex-footer {
   padding-top: 100px;
   padding-left: 20px;
}

.footer-sm {
    padding: 80px 0 0 120px;
    display: flex;

}

.footer-media {
    display: flex;
    margin-top: 72px;
}

.footer-icon {
    margin-left: 0;
    padding-top: 5px;
}
.media-icon{
    list-style-type: none;

}

.sm-icon {
    background-color: var(--IRIS);
    fill: var(--CLOUD);
    padding: 8px;
    border-radius: 50%;
    margin-left: 0;
}

.footer-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding-left: 0;
}

.subscribe {
    margin-left: 80px;
}

.footer-subscribe-text {
    color: var(--WHITE);
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0.32px;
}

.input-sub {
    outline: 2px solid var(--WHITE);
    color: var(--WHITE);
    background: none;
    height: 40px;
    width: 264px;
    border-radius: 4px;
    margin-right: 24px;
} 

.input-sub::placeholder {
    color: rgba(255, 255, 255, 1);
    font-size: 12px;
    font-weight: 400;
    line-height: 200%;
    letter-spacing: 0.48px;
    padding-left: 16px;
}

.btn-sub {
    color: var(--WHITE);
    padding: 12px 24px;
    background-color: var(--IRIS);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0.64px;
}

.btn-sub:hover {
    cursor: pointer;
}

.btn-sub svg {
    fill: var(--WHITE);
}

/* CSS Media Query */

/* Mobile View */
@media (min-width: 428px) {
    .container {
        width: 428px;
    }
}

/* Tablet View */
@media (min-width: 768px) {
    .container {
        width: 768px;
    }
}

/* Desktop View */
@media (min-width: 1200px) {
    .container {
        width: 1200px;
    }

}

@media (max-width: 767px) {

}

@media (max-width: 427px) {

}






